/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 mars 2024, 14:35:14
    Author     : KADAFI Ben
*/

.left-hautD{
    -fx-background-color:white;
    -fx-border-color: #000;
    -fx-border-width: .4px 0px .4px .4px;
}


.top-formD{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: 0px, 0px, 0px, 0px ; 
}

.centre-formD{
    -fx-background-color: white;
    -fx-border-color: #000;
    -fx-border-width: .4px, .4px, .4px, 0px ;
}

.centre-formDE{
    -fx-background-color: white;
    -fx-border-color: #000;
    -fx-border-radius: 5px;
}
.closeD { 
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.closeD:hover {
    -fx-background-color: #ff3547;
}

.right-formD {
    -fx-background-color: linear-gradient(to bottom right, #e7e7e7, #329302);
    -fx-border-color: #000;
    -fx-border-width: 0px .4px .4px 0px;
}

.card {
    -fx-background-color: #e7e7e7;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .4px .4px;
}

.login-btnD {
    -fx-background-color: linear-gradient(to bottom, #329302, #329302);
    -fx-font-size: 14px;
    -fx-font-family: "Berlin Sans FB";
    -fx-cursor: hand;
}

.login-btnD:hover {
    -fx-background-color: linear-gradient(to bottom, #abe749, #329302);
}

.BtnD{
    -fx-background-color: linear-gradient(to bottom, #d0d0d0, #d0d0d0);
    -fx-font-size: 14px;
    -fx-font-family: "Berlin Sans FB";
    -fx-cursor: hand;
}


.Btn-logout{
    -fx-background-color: linear-gradient(to bottom right, #e7e7e7, #329302);
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    
}

.SignOutbtnD {
    -fx-background-color: linear-gradient(to bottom, #d0d0d0, #d0d0d0);
    -fx-font-size: 14px;
    -fx-font-family: "Berlin Sans FB";
    -fx-cursor: hand;
}


.total {
    -fx-background-color:#329302;
}


.total:hover {
    -fx-background-color:#abe749;
}

.table-view{
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #000, #000);
    -fx-border-radius: 8px;
    -fx-font-size: 14px;
    -fx-font-family: "Berlin sans FB";
    -fx-padding: 0px;
}


.table-view .table-column{
    -fx-alignment: CENTER;  
}


.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom right, #abe749, #abe749);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 8px 8px 0px 0px;
}



.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-side: 40px;
}

.table-view .column-header .label{
    -fx-text-fill: #000;
    -fx-font-family: "Arial";
}


.textfield {
    -fx-background-color: linear-gradient(to bottom right, #fff, #fff);
    -fx-border-color: linear-gradient(to bottom right, #329302, #329302);
    -fx-border-radius: 4px;
    -fx-border-width: .8px;
    -fx-font-size: 14px;
    -fx-font-family: "Berlin Sans FB";
}

.textfield:focused{
    -fx-border-width: 2px;
    -fx-background-color: #fff;
}


.textfield-label {
    -fx-background-color: linear-gradient(to bottom right, #fff, #fff);
    -fx-border-color: linear-gradient(to bottom right, #329302, #329302);
    -fx-border-radius: 4px;
    -fx-border-width: .8px;
    -fx-font-size: 14px;
    -fx-font-family: "Berlin Sans FB";
    -fx-padding: 0px 0px 0px 5px;
    
}

.search{
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #329302, #329302);
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
    -fx-font-family: "Berlin Sans FB";
    -fx-border-width: 1px;
    -fx-padding: 0px 0px 0px 28px;
}

.search:focused{
    -fx-border-width: 2px;
}

.loginbtn {
    -fx-background-color: linear-gradient(to bottom, #329302, #329302);
    -fx-font-size: 14px;
    -fx-font-family: "Berlin Sans FB";
    -fx-cursor: hand;
}

.loginbtn:hover {
    -fx-background-color: linear-gradient(to bottom, #abe749, #329302);
}


.labelfiled{
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #329302, #329302);
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
    -fx-border-width: 1px;
    -fx-padding: 0px 0px 0px 10px;
}

.cardServe{
    -fx-background-color: #abe749;
}

.cardAnchrole{
    -fx-background-color: white;
    -fx-border-color: #329302;
    -fx-border-radius: 5px;
}

.cardShadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}


.cardImage{
    -fx-border-radius: 10px;
}


.labelfiledCard{
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #329302, #329302);
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
    -fx-border-width: 1px;
    -fx-padding: 0px 5px 0px 5px;
}



.labelfiledNomServiceCard{
    -fx-font-size: 14px;
    -fx-padding: 0px 0px 0px 5px;
}